# Rider project files
.idea/
*.sln.iml

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Others
*.log
*.vspscc
.vs/
